<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    /* Style for the Friends button */
    .friends-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .friends-button:hover {
        background-color: #0056b3;
    }

</style>
<head>
    <meta charset="UTF-8">
    <a class="friends-button" th:href="@{/profile}">Profile</a>
    <a class="friends-button" th:href="@{/users}">All users</a>
    <a class="friends-button" th:href="@{/friends}">Friends</a>
    <a class="friends-button" th:href="@{/friend-request}">Requests</a>
    <a class="friends-button" th:href="@{/subscriptions}">Subscriptions</a>
    <title>Subscribes</title>
</head>
<body>
<h1>Subscribers</h1><!--подписки на меня-->
<ul>
    <li th:each="sub : ${subscribes}">
        <p th:text="${sub.username}"></p>
    </li>
</ul>
</body>
</html>
