<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    /* Style for the Friends button */
    .friends-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .friends-button:hover {
        background-color: #0056b3;
    }

</style>
<head>
    <meta charset="UTF-8">
    <a class="friends-button" th:href="@{/friends}">Friends</a>
    <a class="friends-button" th:href="@{/friend-request}">Requests</a>
    <a class="friends-button" th:href="@{/subscribes}">Subscribes</a>
    <a class="friends-button" th:href="@{/subscriptions}">Subscriptions</a>
    <title>Image List</title>
</head>
<body>
<h1>Image List</h1>
<ul>
    <li th:each="user : ${users}">

        <h3 th:text="${user.username}"></h3>

        <form th:action="@{/add-friend}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}">
            <input type="text" name="username" hidden th:value="${user.username}"/>
            <button type="submit">Add Friend</button>
        </form>

    </li>
</ul>
</body>
</html>