<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    /* Style for the Friends button */
    .friends-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .friends-button:hover {
        background-color: #0056b3;
    }

</style>
<head>
    <meta charset="UTF-8">
    <a class="friends-button" th:href="@{/profile}">Profile</a>
    <a class="friends-button" th:href="@{/users}">All users</a>
    <a class="friends-button" th:href="@{/friend-request}">Requests</a>
    <a class="friends-button" th:href="@{/subscribes}">Subscribes</a>
    <a class="friends-button" th:href="@{/subscriptions}">Subscriptions</a>
    <title>Friends</title>
</head>
<body>
<li th:each="friend : ${friends}">
    <h3 th:text="${friend.username}"></h3>
    <div th:if="${avatar}">
        <img th:src="'data:image/png;base64,' + ${avatar}" alt="User Avatar" width="150" height="150">
    </div>
    <form th:action="@{/delete-friend}" method="post">
        <input type="hidden" name="friendId" th:value="${friend.id}">
        <button type="submit">Delete</button>
    </form>
</li>
</body>
</html>